## Ejercicio 1

In [1]:
def reporte(tanque_1, tanque_2, tanque_3):
    tprom = (tanque_1 + tanque_2 + tanque_3)/3
    return f"""Comb Report:
    Tprom: {tprom}%
    Tanque_1: {tanque_1}%
    Tanque_2: {tanque_2}%
    Tanque_3: {tanque_3}%
    """

In [3]:
print(reporte(30, 40, 50))

Comb Report:
    Tprom: 40.0%
    Tanque_1: 30%
    Tanque_2: 40%
    Tanque_3: 50%

In [4]:
def prom(values):
    total = sum(values)
    ndat = len(values)
    return total / ndat

prom([70, 80, 90])

80.0

In [5]:
def report(tanque_1, tanque_2, tanque_3):
    return f"""Comb Report:
    tprom: {prom([tanque_1, tanque_2, tanque_3])}%
    Tanque_1: {tanque_1}%
    Tanque_2: {tanque_2}%
    Tanque_3: {tanque_3}%
    """
print(report(85, 86, 87))

Comb Report:
    tprom: 86.0%
    Tanque_1: 85%
    Tanque_2: 86%
    Tanque_3: 87%

## Ejercicio 2

In [14]:
def mrep(desp, vuelo, destino, tanque_1, tanque_2):
   return f"""
   Mision a {destino}
   Tiempo total: {desp + vuelo} minutos
   Combustible sobrante: {tanque_1 + tanque_2} galones
   """
print(mrep(14,51,"Luna", 200000, 300000))

   Mision a Luna
   Tiempo total: 65 minutos
   Combustible sobrante: 500000 galones

In [15]:
def mrep (destino, *minutes, **combres):
    return f"""
    Mision a {destino}
    Tiempo total: {sum(minutes)} minutos
    Combustible sobrante: {sum(combres.values())}
    """
print (mrep("Luna", 10, 15, 51, tanque1=300000, tanque2=200000))

    Mision a Luna
    Tiempo total: 76 minutos
    Combustible sobrante: 500000

In [17]:
def mrep(destino, *minutos, **combres):
    prep = f"""
    Mision a {destino}
    Tiempo total: {sum(minutos)} minutos
    Combustible sobrante: {sum(combres.values())}
    """
    for tank_name, galones in combres.items():
        prep += f"{tank_name} tank--> {galones} galones sobrantes\n"
    return mrep
print(mrep("Luna", 8, 11, 15, 55, tanque1=300000, tanque2=200000))

<function mrep at 0x0000006881347B50>